MORALIS_API_KEY= rg6JWsGi4SSxfwg1bUmiPuZSJKN8f6pITenZsH9NUphQ6nYnI5qVfTltJjeRScj4
APP_DOMAIN=amazing.finance
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
